<a href="https://colab.research.google.com/github/vidhipitroda/Regression/blob/master/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Regression using a multilayered 1D convolutional network
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [3]:
dataset = pd.read_csv('/content/housing.csv')
dataset = dataset.dropna()
dataset.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [0]:
Y = dataset['median_house_value']
X = dataset.loc[:,'longitude':'median_income']

In [0]:
#split the dataset into training and testing 
x_train, y_train, x_test, y_test = train_test_split(X,Y, test_size =0.2)
x_train_np = x_train.to_numpy()
y_train_np = y_train.to_numpy()
x_test_np = x_test.to_numpy()
y_test_np = y_test.to_numpy()

In [0]:
import torch
#since we inputting a 1-dimensional row of data, we can't use 2D or 3D
from torch.nn import Conv1d

from torch.nn import MaxPool1d
from torch.nn import Flatten
from torch.nn import Linear
from torch.nn.functional import relu
from torch.utils.data import dataloader, TensorDataset

In [0]:
class CnnRegressor(torch.nn.Module):
  def __init__(self, batch_size, inputs, outputs):
    super(CnnRegressor, self).__init__() #initialize the module package
    self.batch_size = batch_size
    self.inputs = inputs
    self.outputs = outputs
    self.input_layer = Conv1d(inputs, batch_size,1)
    self.max_pooling_layer = MaxPool1d(1)
    self.Conv_layer = Conv1d(batch_size,128,1)
    self.flatten_layer = Flatten()
    self.linear_layer = Linear(128,64)
    self.output_layer = Linear(64,outputs)
def feed(self,input):
  input = input.reshape((self.batch_size,self.inputs,1))
  output = relu(self.input_layer(input))
  output = self.max_pooling_layer(output)
  output = relu(self.Conv_layer(output))
  output = self.flatten_layer(output)
  output = self.output_layer(output)
  return output

In [12]:
#import stochastic gradient descent
from torch.optim import SGD
from torch.nn import L1Loss
!pip install pytorch-ignite
from ignite.contrib.metrics.regression.r2_score import R2Score

Collecting pytorch-ignite
  Downloading https://files.pythonhosted.org/packages/35/55/41e8a995876fd2ade29bdba0c3efefa38e7d605cb353c70f3173c04928b5/pytorch_ignite-0.3.0-py2.py3-none-any.whl (103kB)
     |████████████████████████████████| 112kB 2.8MB/s
Requirement already satisfied: torch in /usr/local/lib/python3.6/dist-packages (from pytorch-ignite) (1.3.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from torch->pytorch-ignite) (1.17.5)
Installing collected packages: pytorch-ignite
Successfully installed pytorch-ignite-0.3.0

In [13]:
batch_size = 64
model = CnnRegressor(batch_size,X.shape[1],1)
model.cuda()

CnnRegressor(
  (input_layer): Conv1d(8, 64, kernel_size=(1,), stride=(1,))
  (max_pooling_layer): MaxPool1d(kernel_size=1, stride=1, padding=0, dilation=1, ceil_mode=False)
  (Conv_layer): Conv1d(64, 128, kernel_size=(1,), stride=(1,))
  (flatten_layer): Flatten()
  (linear_layer): Linear(in_features=128, out_features=64, bias=True)
  (output_layer): Linear(in_features=64, out_features=1, bias=True)
)